<table>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Birthdate</td>
    <td>Email</td>
    <td>SSN</td>
  </tr>
  <% @employees.each do |employee|%>
    <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.birthdate %></td>
        <td><%= employee.email %></td>
        <td><%= employee.ssn %></td> 
    </tr>
  <% end %>
</table>